.crossword {
  .cw {
    &_game-zone {
      display: inline-block;
    }
    &_col-head {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #000;
    }
    &_row-head {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_row {
      display: flex;
    }
    &_cell {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      &:last-child {
        border-right: 1px #000 solid;
      }
    }
  }
}